<div class="card">
  <div class="card-header  p-2">
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link m-2 bg-dark active" href="#activity" data-toggle="tab">Projeler</a></li>
      <li class="nav-item"><a class="nav-link m-2 bg-dark" href="#timeline" data-toggle="tab">Deneyimler</a></li>
      <li class="nav-item"><a class="nav-link m-2 bg-dark" href="#settings" data-toggle="tab">İletişim</a></li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="active tab-pane" id="activity">
        <div class="timeline">
          <div class="timeline-item">
              <div class="timeline-item-marker">
                  <div class="timeline-item-marker-text">01/01/2020</div>
                  <div class="timeline-item-marker-indicator bg-primary-soft text-primary"><i data-feather="flag"></i></div>
              </div>
              <div class="timeline-item-content pt-0">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h5 class="text-primary">Fast Sales System</h5>
                          It is a barcode system project used in markets.
                      </div>
                  </div>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-item-marker">
                  <div class="timeline-item-marker-text">02/02/2020</div>
                  <div class="timeline-item-marker-indicator bg-success-soft text-success"><i data-feather="gift"></i></div>
              </div>
              <div class="timeline-item-content pt-0">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h5 class="text-success">Patient Care System</h5>
                          An educational web application for patient caregivers
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="tab-pane" id="timeline">
        <div class="timeline">
          <div class="timeline-item">
              <div class="timeline-item-marker">
                  <div class="timeline-item-marker-text">01/01/2020</div>
                  <div class="timeline-item-marker-indicator bg-primary-soft text-primary"><i data-feather="flag"></i></div>
              </div>
              <div class="timeline-item-content pt-0">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h5 class="text-primary">Big-a Software</h5>
                          I worked on web applications and data analysis.
                      </div>
                  </div>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-item-marker">
                  <div class="timeline-item-marker-text">02/02/2020</div>
                  <div class="timeline-item-marker-indicator bg-success-soft text-success"><i data-feather="gift"></i></div>
              </div>
              <div class="timeline-item-content pt-0">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h5 class="text-success">Ataturk University</h5>
                          I worked part time
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="tab-pane" id="settings">
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputSkills" class="col-sm-2 col-form-label">Mesaj</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSkills" placeholder="Mesaj">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn bg-dark">Gönder</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>