<div class="row">
  <div class="col-sm-4 card-col" >
    <div class="card">
      <img class="card-img-top" src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdQZew5PBla3QDB-QMSq7xsF-jTPTQj-1wos_r76JXKgow&oe=6576C8B9&_nc_sid=e6ed6c&_nc_cat=107" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı | Backend Developer</h5>
        <p class="card-text">Ben takım arıyorum</p>
      </div>
      <p class="card-text">2 yıldır yazılım alanında çalışmaktayım </p>
      <div class="card-body">
        <a href="#" class="btn-lg  btn-dark">Detay Git</a>
      </div>
      <div class="card-footer text-muted">
        2 gün önce
      </div>
    </div>
  </div>
  <div class="col-sm-8 card-col">
  <app-advertisement-detail></app-advertisement-detail>
  </div>
</div>

