<div class="row">
  <div class="col-sm-4" style="overflow-y: scroll;height: 500px; " >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdQZew5PBla3QDB-QMSq7xsF-jTPTQj-1wos_r76JXKgow&oe=6576C8B9&_nc_sid=e6ed6c&_nc_cat=107" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı</h5>
        <p class="card-text">Yazılım Sever Bir Dost</p>
        <a href="#" class="btn-lg  btn-danger">Detay Git</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdQZew5PBla3QDB-QMSq7xsF-jTPTQj-1wos_r76JXKgow&oe=6576C8B9&_nc_sid=e6ed6c&_nc_cat=107" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı</h5>
        <p class="card-text">Yazılım Sever Bir Dost</p>
        <a href="#" class="btn-lg  btn-danger">Detay Git</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdQZew5PBla3QDB-QMSq7xsF-jTPTQj-1wos_r76JXKgow&oe=6576C8B9&_nc_sid=e6ed6c&_nc_cat=107" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı</h5>
        <p class="card-text">Yazılım Sever Bir Dost</p>
        <a href="#" class="btn-lg  btn-danger">Detay Git</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdQZew5PBla3QDB-QMSq7xsF-jTPTQj-1wos_r76JXKgow&oe=6576C8B9&_nc_sid=e6ed6c&_nc_cat=107" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı</h5>
        <p class="card-text">Yazılım Sever Bir Dost</p>
        <a href="#" class="btn-lg  btn-danger">Detay Git</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8" style="overflow-y: scroll;height: 500px;">
  <app-advertisement-detail></app-advertisement-detail>
  </div>
</div>

