.card-img-top{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    width: 90%;
    margin: 16px;
    display: flex;
    padding: 16px;
    align-items: center; /* Dikey hizalama */
    border: 1px solid #000000;
    font-family: 'Nova Square', sans-serif;
  } 

  .card-col{
    overflow-y: scroll;height: 700px;
  }

  .card-footer{
    color: black !important;
    font-family: 'Nova Square', sans-serif !important;
  }

  .btn-lg{
    font-family: 'Nova Square', sans-serif !important;
  }