<div class="row m-4">
  <div class="col-sm-4 card-col" >
    <div class="card">
      <img class="card-img-top" src="https://media-ist1-1.cdn.whatsapp.net/v/t61.24694-24/411464307_772225744736534_7574202203802559782_n.jpg?ccb=11-4&oh=01_AdQPstpew4bhpyT25gU2AiKuYISrJH_iDo8YM7hlGYyDDA&oe=65D37BD3&_nc_sid=e6ed6c&_nc_cat=100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı | Backend Developer</h5>
        <p class="card-text">Ben takım arıyorum</p>
      </div>
      <p class="card-text">2 yıldır yazılım alanında çalışmaktayım </p>
      <div class="card-body">
        <a href="#" class="btn-lg  btn-dark">Detay Git</a>
      </div>
      <div class="card-footer text-muted">
        2 gün önce
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://media-ist1-1.cdn.whatsapp.net/v/t61.24694-24/411464307_772225744736534_7574202203802559782_n.jpg?ccb=11-4&oh=01_AdQPstpew4bhpyT25gU2AiKuYISrJH_iDo8YM7hlGYyDDA&oe=65D37BD3&_nc_sid=e6ed6c&_nc_cat=100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Abdullah Balıkçı | Backend Developer</h5>
        <p class="card-text">I am looking for a team</p>
      </div>
      <p class="card-text">I have been working in the software field for 2 years. </p>
      <div class="card-body">
        <a href="#" class="btn-lg  btn-dark">Go to Details</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
  <div class="col-sm-8 card-col">
  <app-advertisement-detail></app-advertisement-detail>
  </div>
</div>

