<div class="row m-4">
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 1-->
        <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small font-weight-bold text-primary mb-1">Incoming Invitation</div>
                        <div class="h5">5</div>
                        <div class="text-xs font-weight-bold text-success d-inline-flex align-items-center">
                            <i class="mr-1" data-feather="trending-up"></i>
                            12%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 2-->
        <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-secondary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small font-weight-bold text-secondary mb-1">Number of Advertisement</div>
                        <div class="h5">2</div>
                        <div class="text-xs font-weight-bold text-danger d-inline-flex align-items-center">
                            <i class="mr-1" data-feather="trending-down"></i>
                            3%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 3-->
        <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-success h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small font-weight-bold text-success mb-1">Profile Visit</div>
                        <div class="h5">11</div>
                        <div class="text-xs font-weight-bold text-success d-inline-flex align-items-center">
                            <i class="mr-1" data-feather="trending-up"></i>
                            32%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dashboard info widget 4-->
        <div class="card border-top-0 border-bottom-0 border-right-0 border-left-lg border-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="small font-weight-bold text-info mb-1">Number of Profile Comments</div>
                        <div class="h5">34</div>
                        <div class="text-xs font-weight-bold text-danger d-inline-flex align-items-center">
                            <i class="mr-1" data-feather="trending-down"></i>
                            1%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-4" style="height: 400px; overflow-y: scroll;">
    <div class="col-xl-12 col-xxl-12">
        <div class="card mb-4">
            <div class="card-header">Visitors to Profile</div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="d-flex align-items-center flex-shrink-0 mr-3">
                        <div class="avatar avatar-xl mr-3 bg-gray-200"><img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png" alt="" /></div>
                        <div class="d-flex flex-column font-weight-bold">
                            <a class="text-dark line-height-normal mb-1" href="#!">Turabi Sancak</a>
                            <div class="small text-muted line-height-normal">Software Developer</div>
                        </div>
                    </div>
                    <div class="dropdown no-caret">
                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownPeople1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownPeople1">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!">Another action</a>
                            <a class="dropdown-item" href="#!">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Item 2-->
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="d-flex align-items-center flex-shrink-0 mr-3">
                        <div class="avatar avatar-xl mr-3 bg-gray-200"><img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png" alt="" /></div>
                        <div class="d-flex flex-column font-weight-bold">
                            <a class="text-dark line-height-normal mb-1" href="#!">Aslı  Yılmaz</a>
                            <div class="small text-muted line-height-normal">Backend Developer</div>
                        </div>
                    </div>
                    <div class="dropdown no-caret">
                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownPeople2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownPeople2">
                            <a class="dropdown-item" href="#!">Action</a>
                            <a class="dropdown-item" href="#!">Another action</a>
                            <a class="dropdown-item" href="#!">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>