<div class="row"   style="flex-wrap: nowrap !important; overflow-y: scroll !important;">
  <div class="col-sm-1"></div>
  <div class="col-sm-4"   style="flex-wrap: nowrap; overflow-y: scroll;">
    <div class="content" >
      
              <div class="card">
              <img
                src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdTi1TejdWRo3R2BXp_FonbuNVusP4GSfD8Gh8RxD26y7g&oe=65757739&_nc_sid=e6ed6c&_nc_cat=107"
                class="card-img-top" height="200" width="100" alt="Software Developer">
              <div class="card-body">
                <h5 class="card-title">Software Developer'ım Takım Arıyorum</h5>

                <p class="card-text">
                  Yazılımı seviyorum ve 3 yıl deneyimim var.
                </p>

                <a href="#" class="card-link">Detaya Git</a>
                <a href="#" class="card-link">Profili Ziyaret Et</a>
              </div>
            </div>
            <div class="card">
              <img
                src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdTi1TejdWRo3R2BXp_FonbuNVusP4GSfD8Gh8RxD26y7g&oe=65757739&_nc_sid=e6ed6c&_nc_cat=107"
                class="card-img-top" height="200" width="100" alt="Software Developer">
              <div class="card-body">
                <h5 class="card-title">Software Developer'ım Takım Arıyorum</h5>
                <p class="card-text">
                  Yazılımı seviyorum ve 3 yıl deneyimim var.
                  Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var.
                </p>
                <a href="#" class="card-link">Detaya Git</a>
                <a href="#" class="card-link">Profili Ziyaret Et</a>
              </div>
            </div>
            <div class="card">
              <img
                src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdTi1TejdWRo3R2BXp_FonbuNVusP4GSfD8Gh8RxD26y7g&oe=65757739&_nc_sid=e6ed6c&_nc_cat=107"
                class="card-img-top" height="200" width="100" alt="Software Developer">
              <div class="card-body">
                <h5 class="card-title">Software Developer'ım Takım Arıyorum</h5>

                <p class="card-text">
                  Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var.
                </p>

                <a href="#" class="card-link">Detaya Git</a>
                <a href="#" class="card-link">Profili Ziyaret Et</a>
              </div>
            </div>
            <div class="card">
              <img
                src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdTi1TejdWRo3R2BXp_FonbuNVusP4GSfD8Gh8RxD26y7g&oe=65757739&_nc_sid=e6ed6c&_nc_cat=107"
                class="card-img-top" height="200" width="100" alt="Software Developer">
              <div class="card-body">
                <h5 class="card-title">Software Developer'ım Takım Arıyorum</h5>

                <p class="card-text">
                  Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var. Yazılımı seviyorum ve 3 yıl deneyimim var.
                </p>

                <a href="#" (click)="navigateToDetails()" class="card-link">Detaya Git</a>
                <a href="#" class="card-link">Profili Ziyaret Et</a>
              </div>
            </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  <div class="col-sm-6">
    <p>asdad</p>
  </div>
  <div class="col-sm-1">
  </div>
</div>