<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <!-- Left navbar links -->
    <li class="nav-item">
      <a class="nav-link" style="background-color: black !important ;" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <h2 class="app-title"> JoinforcesHub </h2>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-3">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="https://media-sof1-2.cdn.whatsapp.net/v/t61.24694-24/403188215_2398024637060116_5437219348899559415_n.jpg?ccb=11-4&oh=01_AdTi1TejdWRo3R2BXp_FonbuNVusP4GSfD8Gh8RxD26y7g&oe=65757739&_nc_sid=e6ed6c&_nc_cat=107"
            class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{loginResponse.result.firstname}} {{loginResponse.result.surName}}</a>
          <span >Software Developer</span>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2" [ngClass]="{'none': !isAdminUser()}">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-microsoft-teams"></i>
              <p class="menu-item">
                Takımlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-microsoft-teams"></i>
              <p class="menu-item">
                İlanlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-chat-dots"></i>
              <p class="menu-item">
                Mesajlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-bell-fill"></i>
              <p class="menu-item">
                Bildirimler
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-people"></i>
              <p class="menu-item">
                Kullanıcılar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-person-fill-lock"></i>
              <p class="menu-item">
                Roller
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-gear"></i>
              <p class="menu-item">
                Ayarlar
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="mt-2" [ngClass]="{'notNone': isAdminUser()}">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-house"></i>
              <p class="menu-item">
                AnaSayfa
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-person"></i>
              <p class="menu-item">
                Profil
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-microsoft-teams"></i>
              <p class="menu-item">
                Takımlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-microsoft-teams"></i>
              <p class="menu-item">
                İlanlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-chat-dots"></i>
              <p class="menu-item">
                Mesajlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-bell-fill"></i>
              <p class="menu-item">
                Bildirimler
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-gear"></i>
              <p class="menu-item">
                Ayarlar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-gear"></i>
              <a class="menu-item" (click)="logout()">
                Çıkış Yap
              </a>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <br>
      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer bg-light">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2023 <a href="#">berjcode</a>.</strong> Open Source Project
  </footer>
</div>