.navbar-brand {
    color: #4F200D; 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2px;
  }

  .offcanvas-title {
    color: #4F200D; 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2px;
  }

  .nav-link{
    color: black ; 
    font-family: 'Domine', serif;
    font-size: 1.1rem;
  }
  .rownavbar-custom{
    height: 30px;
  }
  .rowcontent-custom{
    height: 520px;
    overflow-y: scroll !important;
  }
  .container{
    overflow: hidden; 
  }
  .none {
  display: none;
}
.notNone {
  display:block;
}

.app-title{
  font-family: 'IBM Plex Mono', monospace;
  color: #000000;
  margin-left: 10px;
}

.d-block{
  color: #000000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 22px !important;
}
.menu-item{
  color: #000000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  font-style: bold !important;
  font-size: 16px !important;
}
.nav-item {
  border-bottom: 1px solid #000000; /* 1 piksel kalınlığında, gri renkli çizgi */
}

.main-header{
  background-color: #F2F2F2;
  color: #000000 !important;
  height: 90px !important;
}

.main-sidebar{
  background-color: #F2F2F2;
}

.bi{
  color: rgb(0, 0, 0) !important;  
  margin: 2px;
}
.fas{
  color: rgb(5, 5, 5) !important;  
  margin: 2px;
}
.far{
  color: rgb(5, 5, 5) !important;  
  margin: 2px;
}
.fas.fa-bars{
  color: rgb(248, 242, 242) !important;  
}