<h1 class="text-center text-dark mt-3">Teams</h1>

<div class="container" style="height: 600px; overflow-y: scroll;">
    <div class="row">
    <div class="col-sm-3 card m-4">
        <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D0BAQEOyQRFG9tC2Q/company-logo_200_200/0/1668173569576/gdsc_ataturk_university_logo?e=2147483647&v=beta&t=4HBSgNR24lB9MX_Gmq0JEhBJjLRQoTfCdXXTBcqqk74" alt="..." height="150" width="100">
        <div class="card-body">
            <h5 class="card-title">GDSC Atauni</h5>
            <p class="card-text">Organizing events and sharing information</p>
            <a class="btn btn-secondary">review the detail</a>
        </div>
    </div>
    <div class="col-sm-3 card m-4">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1754294490171310080/exT2bvhr_400x400.jpg" alt="..." height="150" width="100">
        <div class="card-body">
            <h5 class="card-title">BERJCODE</h5>
            <p class="card-text">We share open source codes</p>
            <a class="btn btn-secondary">review the detail</a>
        </div>
    </div>
    <div class="col-sm-3 card m-4">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1754294490171310080/exT2bvhr_400x400.jpg" alt="..." height="150" width="100">
        <div class="card-body">
            <h5 class="card-title">BERJCODE</h5>
            <p class="card-text">We share open source codes</p>
            <a class="btn btn-secondary">review the detail</a>
        </div>
    </div>
    <div class="col-sm-3 card m-4">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1754294490171310080/exT2bvhr_400x400.jpg" alt="..." height="150" width="100">
        <div class="card-body">
            <h5 class="card-title">BERJCODE</h5>
            <p class="card-text">We share open source codes</p>
            <a class="btn btn-secondary">review the detail</a>
        </div>
    </div>
</div>
</div>
